body { 
  font-family: system-ui, sans-serif; 
  margin: 0;
}

.wrap { 
  max-width: 900px; 
  margin: 48px auto; 
  padding: 0 20px; 
}

h1{
  text-align: center;
  margin: 0 0 16px; /* 아래 여백 */
}

img { 
  width: 100%; 
  height: auto; 
  border-radius: 16px; 
  display: block;
}
